<ion-header>
  <ion-navbar>
    <ion-title>
      Posts
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let post of posts">
      <img [src]="post.data.url"/>
    </ion-item>
  </ion-list>
</ion-content>
